{
  "title": "Kubernetes events index set",
  "description": "The Graylog Kubernetes events index set",
  "index_prefix": "gray_k8s_event",
  "shards": "{{ shards }}",
  "replicas": "{{ replicas }}",
{% if rotation_strategy | lower | trim == 'timebased' %}
  "rotation_strategy_class": "org.graylog2.indexer.rotation.strategies.TimeBasedRotationStrategy",
  "rotation_strategy": {
    "type": "org.graylog2.indexer.rotation.strategies.TimeBasedRotationStrategyConfig",
    "rotation_period": "{{ rotation_period }}"
  },
{% else %}
  "rotation_strategy_class": "org.graylog2.indexer.rotation.strategies.SizeBasedRotationStrategy",
  "rotation_strategy": {
    "type": "org.graylog2.indexer.rotation.strategies.SizeBasedRotationStrategyConfig",
    "max_size": "{{ max_size }}"
  },
{% endif %}
  "retention_strategy_class": "org.graylog2.indexer.retention.strategies.DeletionRetentionStrategy",
  "retention_strategy": {
    "type": "org.graylog2.indexer.retention.strategies.DeletionRetentionStrategyConfig",
    "max_number_of_indices": "{{ max_number_of_indices }}"
  },
  "creation_date": "{{ creation_date }}",
  "index_analyzer": "standard",
  "index_optimization_max_num_segments": 1,
  "index_optimization_disabled": false,
  "writable": true,
  "default": false,
  "field_type_refresh_interval": 5000
}