{
   "name":"AuditViewer",
   "description":"Role for viewing audit logs",
   "permissions":[
{% if other_site_logs_stream_id is defined and other_site_logs_stream_id | length %}
      "streams:read:{{ other_site_logs_stream_id }}"
{% endif %}
      "streams:read:{{ all_events_stream_id }}",
      "streams:read:{{ default_stream_id }}",
      "streams:read:{{ all_system_events_stream_id }}",
      "streams:read:{{ system_logs_stream_id }}",
      "streams:read:{{ audit_logs_stream_id }}",
      "dashboards:read:{{ sources_dashboard_id }}"
   ],
   "read_only":true
}