{
  "username": "telegraf_operator",
  "password": "{{ password }}",
  "email": "to@to.to",
  "first_name":"telegraf_operator",
  "last_name":"telegraf_operator",
  "permissions": [
    "users:edit:telegraf_operator",
    "users:passwordchange:telegraf_operator",
    "clusterconfigentry:read",
    "indexercluster:read",
    "messagecount:read",
    "journal:read",
    "messages:analyze",
    "inputs:read",
    "metrics:read",
    "savedsearches:edit",
    "fieldnames:read",
    "buffers:read",
    "system:read",
    "savedsearches:create",
    "jvmstats:read",
    "decorators:read",
    "throughput:read",
    "savedsearches:read",
    "messages:read"
  ],
  "roles": [
    "Operator",
    "Reader"
  ],
  "session_timeout_ms": 3600000
}