{{ ansible_managed | comment }}

[Unit]
Description=Prometheus Node Exporter
After=network-online.target

[Service]
Type=simple
StartLimitBurst=5
StartLimitInterval=0
Restart=on-failure
RestartSec=1

User={{ exporters_system_user }}
Group={{ exporters_system_group }}
ExecStart={{ node_exporter_host_bin_dir }}/node_exporter \
{% for flag in node_exporter_flags -%}
    {{ flag }} \
{% endfor %}

SyslogIdentifier=node_exporter

ProtectHome=yes
NoNewPrivileges=yes
ProtectSystem=full
ExecStop=/bin/kill -s SIGTERM $MAINPID

[Install]
WantedBy=multi-user.target