{{ ansible_managed | comment }}

[Unit]
Description=ElasticSearch Prometheus Metrics Exporter
After=network-online.target

[Service]
Type=simple
StartLimitBurst=5
StartLimitInterval=0
Restart=on-failure
RestartSec=1

User={{ exporters_system_user }}
Group={{ exporters_system_group }}
ExecStart={{ elasticsearch_exporter_host_bin_dir }}/elasticsearch_exporter \
{% if elasticsearch_exporter_admin_username is defined and elasticsearch_exporter_admin_password is defined %}
--es.uri={{ elasticsearch_exporter_schema }}://{{ elasticsearch_exporter_admin_username }}:{{ elasticsearch_exporter_admin_password }}@{{ elasticsearch_exporter_url }} \
{% else %}
--es.uri={{ elasticsearch_exporter_schema }}://{{ elasticsearch_exporter_url }} \
{% endif %}
{% for flag in elasticsearch_exporter_flags -%}
    {{ flag }} \
{% endfor %}

SyslogIdentifier=elasticsearch_exporter

ProtectHome=yes
NoNewPrivileges=yes
ProtectSystem=full
ExecStop=/bin/kill -s SIGTERM $MAINPID

[Install]
WantedBy=multi-user.target