rule \"Route Kubernetes events\"
when
{% if input_id is defined %}
  (NOT (from_input(id: \"{{ input_id }}\"))) AND
{% endif %}
  (has_field(\"kind\") AND to_string($message.kind) == \"KubernetesEvent\")
then
  route_to_stream(id: \"{{ route_to_stream_id }}\", remove_from_default: true);
end